body {
	background-image:url("http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg");
}
h1 {
	color:#A4A400;
	background-color:#F0F0F0;
	font-family:Century Gothic, Futura, Verdana, sans-serif;
	font-size:22pt;
	text-align:center;
	text-decoration:underline;
	font-weight:bold;
}
h2 {
	color:#A4A400;
	background-color:#F0F0F0;
	font-family:Century Gothic, Futura, Verdana, sans-serif;
	font-size:18pt;
	text-align:left;
	text-decoration:underline;
	font-weight:normal;
}
.contents{
	color:#A4A400;
	font-size:14pt;
	font-family:Georgia, Garamond, serif;
	font-weight:bold;
}

.content{
	width: auto;
	display:inline-block;
}
